<nav class="w-full flex justify-between items-center p-5 bg-blue-600 shadow-2xl">
    <div class="logo">
        <span class="text-gray-200 text-4xl flex justify-start items-center">FLOUSSEK BANK</span>
    </div>
    <div class ="nav-items">
        <span routerLink="/login" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200" >Login</span>
        <span routerLink="/register" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Register</span>
        <!--<span  class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Welcome User</span>-->
        <span routerLink="/login" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Logout</span>
    </div>
</nav>